<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".dynamicColors"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternshipPortal">
        <activity
            android:name=".upload_NOC"
            android:exported="false" />
        <activity
            android:name=".edit_faculty"
            android:exported="false" />
        <activity
            android:name=".faculty_list"
            android:exported="false" />
        <activity
            android:name=".edit_student"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false"
            android:parentActivityName=".profile" />
        <activity
            android:name=".company_details"
            android:exported="false"
            android:parentActivityName=".student_home" />
        <activity
            android:name=".add_company"
            android:exported="false"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".add_faculty"
            android:exported="false"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".company_list"
            android:exported="false"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".profile"
            android:exported="false"
            android:parentActivityName=".student_home" />
        <activity
            android:name=".add_student"
            android:exported="false"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".internship_form"
            android:exported="false"
            android:parentActivityName=".student_home" />
        <activity
            android:name=".noc_requests"
            android:exported="false"
            android:parentActivityName=".faculty_home" />
        <activity
            android:name=".register_faculty"
            android:exported="false" />
        <activity
            android:name=".admin_home"
            android:exported="false" />
        <activity
            android:name=".faculty_home"
            android:exported="false" />
        <activity
            android:name=".students_list"
            android:exported="false"
            android:parentActivityName=".admin_home" />
        <activity
            android:name=".forgotPassword"
            android:exported="false"
            android:parentActivityName=".login" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student_home"
            android:exported="false" />
    </application>

</manifest>